# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
.vs
.vscode

# Build files
*.apk
*.obb

# Visual Studio files
*.cachefile
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
*.v11
*.v12

# Folders to exclude
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/Assets/AssetStoreTools*
