# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
.vs
.vscode

# Visual Studio files
*.cachefile
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
*.v11
*.v12

#Folders to Exclude
Temp/